<p>
  <b>Start:</b>
  <%=h @workperiod.start %>
</p>

<p>
  <b>End:</b>
  <%=h @workperiod.end %>
</p>


<%= link_to 'Edit', edit_workperiod_path(@workperiod) %> |
<%= link_to 'Back', workperiods_path %>
